<div>
    <% if (typeof name !== 'undefined' && typeof age !== 'undefined') { %>
    <h5>
        Hello, your name is: <%= name %>, and your age is: <%= age %>
    </h5>
    <% } else { %>
    <h4>Please enter your name and your age</h4>
    <% } %>
</div>
